<!DOCTYPE html>
<html>
  <head>
    <meta chaset="utf-8">
    <title>Demo Reactjs</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  </head>
  <body>
    <div id="header"></div>
    <div id="content"></div>

    <script type="text/babel">
      const header = <h1>HEADER</h1>;
      const content = <h1>CONTENT</h1>;

      ReactDOM.render(
        header,
        document.getElementById('header')
      );

      ReactDOM.render(
        content,
        document.getElementById('content')
      );
    </script>
  </body>
</html>